.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}
body{
  margin:0%;
  padding: 0%;
}
.header{
  background-color: tomato;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .inputContainer{
  display: flex;
  flex-direction: column;
}

.header input{
  width: 200px;
  height: 40px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 10px;
  border:1px solid lightgray;
}
.header input:focus{
outline: none;
}
.header button {
  width: 70px;
  height: 87px;
  border:none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 10px;
  cursor: pointer;
}
.todoList{
  flex:70%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}
.task{
 width: 500px;
 height: 50px;
 display: flex;
 margin: 15px;
}
.task .content {
  flex: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task .content span {
  display: grid;
  place-items: center;
  border:1px solid white;
  width: 100%;
  height: 100%;
  font-size: 18px;
  border-right: none;
  background-color: tomato;
}
.delete {
  flex:20%;
  height: 100%;
  border:none;
  background-color: lightseagreen;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: 600 ;
}
.showLink{
  text-decoration: none;
}
.navbar1{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.searchIcon{
  margin-right: auto;
}
.icons{
  cursor:pointer;
}
.popoverIcon{
  border:none;
  background:none;
}
.flex{
  display: flex;
  width: 100%;
  height: inherit;
}
.popoverButton{
  margin-top: 8px;
  margin-bottom: 12px;
  float:right;
}
.popoverAdd{
  margin-left: 8px;
  border-radius: 4px;
  background-color:#09acf7;
  color:#fff;
  border:none;
  font-size: 17px;
  padding:5px;
}
.popoverCancel{
  border-radius: 4px;
  background-color: #fff;
  font-size: 17px;
  padding:5px;
  border:2px solid lightgray;
}
.backgroundSidebar{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-top:15px;
  width: 250px;
}
@media only screen and (max-width:700px) {
  .backgroundSidebar{
    display: none;
  }
}
.backgroundSidebar>a{
  text-decoration: none;
  padding: 5px;
  color:#262626;
  font-size: 14px;
  font-weight: normal;
  padding-left: 20px;
}
.backgroundSidebar>a:focus{
  background-color: #E6F7FF;
}
.navTitle{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  border-left:1px solid lightgray;
  padding-left: 40px;
  margin-bottom: 20px;
}
.table{
  background-color: #fff;
}
thead{
  background-color: #FAFAFA;
}
tbody, td, tfoot, th, thead, tr{
  border-style: ridge !important;
}
.fullDisplay{
  width: 100%;
}